{% extends "_base_dashboard.html" %}
{% load humanize %}
{% load plaid_tags %}
{% block title %}
    Dashboard
{% endblock title %}
{% block cdns %}
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock cdns %}
{% block content %}
    <div x-data="plaidIntegration({{ items|length }})"
         class="px-6 max-w-7xl mx-auto">
        <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-400">Overview</h2>
        <div class="mt-4 bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 p-6">
            <div class="flex justify-between items-center">
                <div class="text-center">
                    <p class="uppercase text-xs font-bold tracking-tight text-gray-900 dark:text-white">Email</p>
                    <p class="mt-2 text-sm font-light text-gray-700 dark:text-gray-400">{{ user.email }}</p>
                </div>
                <div class="text-center">
                    <p class="uppercase text-xs font-bold tracking-tight text-gray-900 dark:text-white">Date Joined</p>
                    <p class="mt-2 text-sm font-light text-gray-700 dark:text-gray-400">{{ user.date_joined|date:"m/d/Y" }}</p>
                </div>
                <a href="#banks-list">
                    <div class="text-center">
                        <p class="uppercase text-xs font-bold tracking-tight text-gray-900 dark:text-white">Number of Banks Connected</p>
                        <p class="mt-2 text-sm font-light text-gray-700 dark:text-gray-400"
                           x-text="`${numberOfBanks} banks`"></p>
                    </div>
                </a>
                <div x-show="!banksExist" id="add-bank-section">
                    <button id="link-account"
                            class="text-sm px-4 lg:px-5 py-2 lg:py-2.5 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                            x-on:click="openLink">Add a Bank</button>
                </div>
            </div>
        </div>
        <!-- Net Worth -->
        <div id="net-worth" x-show="banksExist" class="mt-12">
            <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-400">Net Worth</h2>
            <div class="bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 p-6 mt-4">
                <div class="flex justify-between items-center">
                    <div>
                        <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ net_worth|floatformat:2|intcomma }}</p>
                        <p class="text-sm font-light text-gray-700 dark:text-gray-400">Net Worth - All Accounts</p>
                    </div>
                    <div>
                        <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ total_income|floatformat:2|intcomma }}</p>
                        <p class="text-sm font-light text-gray-700 dark:text-gray-400">Total Income</p>
                    </div>
                    <div>
                        <p class="text-2xl font-semibold text-gray-900 dark:text-white">${{ total_expense|floatformat:2|intcomma }}</p>
                        <p class="text-sm font-light text-gray-700 dark:text-gray-400">Total Expense</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category Spending Breakdown (PieChart and Table) -->
        <div id="category-spending" x-show="banksExist" class="mt-12">
            <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-400">Category Spending Breakdown</h2>
            <div class="bg-white border border-gray-200 rounded-lg shadow-lg dark:bg-gray-800 dark:border-gray-700 p-6 mt-4 flex">
                <!-- Pie Chart -->
                <div id="category-pie-chart"
                     class="w-1/2"
                     data-category-spending="{{ category_spending_json|escapejs }}">
                    <canvas id="categorySpendingChart" width="400" height="400"></canvas>
                </div>
                <!-- Table -->
                <div class="w-1/2 pl-6">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr class="font-medium text-xs text-left  uppercase tracking-wider text-gray-900 whitespace-nowrap dark:text-white">
                                <th scope="col" class="px-6 py-3">Category</th>
                                <th scope="col" class="px-6 py-3">Total Spending</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 text-gray-500 dark:text-gray-400">
                            {% for entry in category_spending %}
                                <tr>
                                    <td class="px-6 py-4">{{ entry.primary_personal_finance_category|human_readable_category }}</td>
                                    <td class="px-6 py-4">${{ entry.total_spending|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Recent Transactions -->
        <div id="recent-transactions" x-show="banksExist" class="mt-12">
            <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-400">Recent Transactions</h2>
            <div class="relative overflow-x-auto mt-4">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3"></th>
                            <th scope="col" class="px-6 py-3">Name</th>
                            <th scope="col" class="px-6 py-3">Category</th>
                            <th scope="col" class="px-6 py-3">Amount</th>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">Pending</th>
                        </tr>
                    </thead>
                    {% if transactions %}
                        <tbody>
                            {% for transaction in transactions %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <td class="px-6 py-4">
                                        <img src="{{ transaction.personal_finance_category_icon_url }}"
                                             alt="{{ transaction.name }}"
                                             height=""
                                             width=""
                                             class="w-8 h-8 rounded-full">
                                    </td>
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ transaction.name }}
                                    </th>
                                    <td class="px-6 py-4">{{ transaction.primary_personal_finance_category|human_readable_category }}</td>
                                    <td class="px-6 py-4">${{ transaction.amount|floatformat:2|intcomma }}</td>
                                    <td class="px-6 py-4">{{ transaction.date }}</td>
                                    <td class="px-6 py-4">{{ transaction.pending }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tbody>
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4 text-center" colspan="12">No Transactions Data Found</td>
                            </tr>
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        <div id="banks-list" x-show="banksExist" class="mt-12">
            <div class="flex justify-between items-center mb-4">
                <div>
                    <h2 class="text-3xl font-semibold text-gray-700 dark:text-gray-400 mb-4"
                        x-text="`${numberOfBanks} Banks Linked`"></h2>
                    <p class="font-light text-gray-700 dark:text-gray-400 mb-6">
                        Below is a list of all your connected banks. Click on a bank to view its associated accounts.
                    </p>
                </div>
                <div>
                    <button id="link-account"
                            class="text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                            x-on:click="openLink">Add another bank</button>
                </div>
            </div>
            <div id="bank-cards">
                <c-bank-cards :items="items" />
            </div>
        </div>
        <!-- Loading Indicator -->
        <div x-show="isLoading"
             class="fixed inset-0 flex items-center justify-center">
            <div role="status">
                <svg aria-hidden="true"
                     class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                     viewBox="0 0 100 101"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('plaidIntegration', (itemsLength) => ({
                banksExist: itemsLength > 0,
                numberOfBanks: itemsLength,
                isLoading: false,
                plaid_id: null,
                new_accounts_detected: false,
                handler: null,
                handlerConfig: null,
                isOauth: window.location.href.includes("?oauth_state_id="),

                async init() {
                    this.handlerConfig = {
                        token: await this.getLinkToken(this.plaid_id, this.new_accounts_detected),
                        onSuccess: async (publicToken, metadata) => {
                            await this.saveMetadata(metadata, "Success");

                            // In update mode no need to exchange public token
                            if (this.plaid_id) {
                                const res = await fetch("{% url 'update_item_status' %}", {
                                    method: "POST",
                                    body: JSON.stringify({"plaid_id": this.plaid_id}),
                                    headers: {
                                        "Content-Type": "application/json",
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                });
                                const data = await res.json();
                                console.log(data);
                            } else {
                                const res = await fetch("{% url 'exchange_public_token' %}", {
                                    method: "POST",
                                    body: JSON.stringify({
                                        "public_token": publicToken,
                                        "institution_id": metadata.institution.institution_id,
                                        "institution_name": metadata.institution.name,
                                    }),
                                    headers: {
                                        "Content-Type": "application/json",
                                        'X-CSRFToken': '{{ csrf_token }}',
                                    },
                                });
                                if (res.ok) {
                                    this.isLoading = true;

                                    // Wait for X seconds for background tasks to complete
                                    // In the future, this can be replaced with a websocket connection to update the UI in real-time
                                    await new Promise(resolve => setTimeout(resolve, 3000));

                                    await this.updateDashboardContent();

                                    this.banksExist = true;
                                    this.numberOfBanks += 1;
                                    this.isLoading = false;
                                } else {}
                            }
                        },
                        onEvent: (eventName, metadata) => {},
                        onExit: (error, metadata) => {
                            this.saveMetadata(metadata, "Exit", error);
                        },
                    };

                    if (this.isOauth) {
                        this.handlerConfig.receivedRedirectUri = window.location.href;
                    }
                    this.handler = Plaid.create(this.handlerConfig);
                    if (this.isOauth) {
                        window.location.href = `${window.location.origin}/finance`;
                    }

                    document.addEventListener('htmx:afterRequest', (event) => {
                        if (event.detail.elt && event.detail.elt.querySelector('#bank-accordion')) {
                            this.updateBankData();
                        }
                    });

                    this.initPieChart();
                },

                async createLinkToken(plaid_id, new_accounts_detected) {
                    const res = await fetch("{% url 'create_link_token' %}", {
                        method: "POST",
                        body: JSON.stringify({'plaid_id': plaid_id, 'new_accounts_detected': new_accounts_detected}),
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    });
                    const data = await res.json();
                    const linkToken = data.link_token;
                    localStorage.setItem("link_token", linkToken);
                    return linkToken;
                },

                async getLinkToken(plaid_id, new_accounts_detected) {
                    if (this.isOauth) {
                        return localStorage.getItem("link_token");
                    } else {
                        return await this.createLinkToken(plaid_id, new_accounts_detected);
                    }
                },

                async saveMetadata(metadata, event_type, error = null) {
                    let body = {
                        "link_session_id": metadata.link_session_id,
                    };

                    if (event_type === "Exit") {
                        body["event_type"] = "Exit";
                        body["request_id"] = metadata.request_id;

                        if (error) {
                            body["error_type"] = error.error_type;
                            body["error_code"] = error.error_code;
                        }

                    } else {
                        body["event_type"] = "Success";
                    }

                    await fetch("{% url 'create_link_event'%}", {
                        method: "POST",
                        body: JSON.stringify(body),
                        headers: {
                            "Content-Type": "application/json",
                            'X-CSRFToken': '{{ csrf_token }}',
                        },
                    });
                },

                openLink() {
                    this.handler.open();
                },

                updateBankData() {
                    this.updateDashboardContent();

                    this.numberOfBanks -= 1;
                    this.banksExist = this.numberOfBanks > 0;
                },

                async updateDashboardContent() {
                    const dashboardRes = await fetch("{% url 'dashboard' %}");
                    if (dashboardRes.ok) {
                        const dashboardHtml = await dashboardRes.text();

                        const parser = new DOMParser();
                        const doc = parser.parseFromString(dashboardHtml, 'text/html');

                        document.getElementById('net-worth').innerHTML = doc.getElementById('net-worth').innerHTML;
                        document.getElementById('category-spending').innerHTML = doc.getElementById('category-spending').innerHTML;
                        document.getElementById('recent-transactions').innerHTML = doc.getElementById('recent-transactions').innerHTML;
                        document.getElementById('banks-list').innerHTML = doc.getElementById('banks-list').innerHTML;

                        const categorySpendingJson = doc.getElementById('category-pie-chart').getAttribute('data-category-spending');
                        this.initPieChart(categorySpendingJson.replace(/\\u0022/g, '"'));

                        htmx.process(document.getElementById('banks-list'));
                    } else {}
                },

                initPieChart(categorySpendingJson=null) {
                    const ctx = document.getElementById('categorySpendingChart').getContext('2d');
                    const categorySpending = categorySpendingJson ? JSON.parse(categorySpendingJson) : JSON.parse('{{ category_spending_json|escapejs }}');

                    const humanReadableCategory = function (category) {
                        return category
                            .replace(/_/g, " ")
                            .toLowerCase()
                            .replace(/\b\w/g, (s) => s.toUpperCase())
                            .replace(/\b(And|Or)\b/, (s) => s.toLowerCase());
                    };

                    const labels = categorySpending.map(entry => humanReadableCategory(entry.primary_personal_finance_category));
                    const data = categorySpending.map(entry => parseFloat(entry.total_spending));

                    const chartData = {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(201, 203, 207)',
                                'rgb(153, 102, 255)',
                            ],
                        }]
                    };

                    const config = {
                        type: 'pie',
                        data: chartData,
                        options: {
                            responsive: false,
                            plugins: {
                                legend: {
                                    position: 'top',
                                },
                            }
                        },
                    };

                    new Chart(ctx, config);
                }

            }));

            Alpine.data('bankCard', (itemId) => ({
                isOpen: false,

                async updatePlaidBadItem(event) {
                    this.plaid_id = itemId;
                    this.handlerConfig.token = await this.getLinkToken(this.plaid_id);
                    this.handler.open();
                },

                async addNewAccountsToPlaidItem(event) {
                    this.plaid_id = itemId;
                    this.new_accounts_detected = true;
                    this.handlerConfig.token = await this.getLinkToken(this.plaid_id, this.new_accounts_detected);
                    this.handler.open();
                },
            }));
        });
    </script>
{% endblock javascript %}
