{% extends "_base.html" %}
{% load allauth %}
{% block title %}
    Recovery Codes
{% endblock title %}
{% load allauth %}
{% block content %}
    {% include "layouts/_sidebar.html" %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Recovery Codes
                    </h1>
                    <p class="text-lg mb-6">There are {{ unused_codes|length }} out of {{ total_count }} recovery codes available.</p>
                    <div class="mb-6">
                        <label for="recovery_codes"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Unused codes
                        </label>
                        <textarea id="recovery_codes"
                                  rows="{{ unused_codes|length }}"
                                  readonly
                                  class="block w-full text-sm p-2.5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{% for code in unused_codes %}{{ code }}{% if not forloop.last %}&#10;{% endif %}{% endfor %}</textarea>
                    </div>
                    <div class="flex space-x-2">
                        {% if unused_codes %}
                            {% url 'mfa_download_recovery_codes' as download_url %}
                            <a href="{{ download_url }}"
                               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Download codes
                            </a>
                        {% endif %}
                        {% url 'mfa_generate_recovery_codes' as generate_url %}
                        <a href="{{ generate_url }}"
                           class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                            Generate new codes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
